@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.color-blue {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  color: #172b4d;
  font-weight: 700;
}

.light-green {
  color: #36b37e;
}

h1,
h2 {
  font-size: xx-large;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  width: 100vw;
  height: 108vh;
  opacity: 0.9;
  z-index: 100;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headline {
  background: #fff;
  background-image: url("./imges/header-illsutration-mobile@2x.png");
  padding: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 14%;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.logo {
  text-decoration: none;
  color: #172b4d;
  font-size: x-large;
}

.header {
  padding: 1em;
  background: #fff;
}

.fa-times {
  float: right;
  margin: 1.5em;
  font-size: larger;
  color: #67798e;
}

.only-desktop {
  display: none;
}

.desciption {
  display: center;
  order: 0;
  color: #36b37e;
  top: 50px;
}

.supporting-text {
  padding-top: 1.5em;
}

.supporting-text > p {
  font-size: larger;
  font-weight: 500;
}

.socialContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.socialContents {
  padding-left: 0;
}

.disabled-btn {
  padding-top: 6em;
}

.primary {
  padding-top: 3em;
}

.myRecentWorks {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
  width: max-content;
}

.myRecentWork {
  margin: 22px;
  display: grid;
  gap: 24px;
  justify-items: center;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "inter", sans-serif;
  color: #3a4a42;
}

.theButton {
  background-color: #36b37e;
  width: 122px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.06rem;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-align: center;
}

.theButton:hover {
  transform: scale(1.2);
}

.theButton:focus {
  cursor: pointer;
  background: #01a566;
}

.button:hover {
  transform: scale(1.2);
}

.grid {
  box-sizing: border-box;
  width: 75%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: center;
  align-content: space-around;
  gap: 1.5em;
}

.other {
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 474px;
}

.primary > h1 {
  font-size: 275%;
}

li {
  list-style: none;
  margin-right: 1em;
}

.aboutMeListItem {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #36b37e;
  border-radius: 4px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  max-height: 50%;
  padding: 8px 12px;
  letter-spacing: 0.03em;
}

.aboutMeListItem li {
  color: #36b37e;
}

.informationCard {
  border-radius: 10px;
  background-color: white;
  max-height: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  color: #3a4a42;
}

.informationCard ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.middle {
  display: grid;
  gap: 40px;
}

.about-me {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
  gap: 24px;
  justify-items: center;
  align-items: center;
  background-image: url("images/illustration-\ about\ me-\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img1-aboutme {
  background-image: url("imges/aboutme-img1.png");
  padding: 2em;
  background-repeat: no-repeat;
  background-position: center right;
}

.about-me h2 {
  text-align: center;
  margin: 1em;
  font-size: 250%;
}

#about-me button {
  display: block;
  margin: 1em auto;
}

.img2-aboutme {
  background-image: url("imges/aboutme-img2.png");
  padding: 2em;
  background-repeat: no-repeat;
  background-position: center left;
}

#about-me p {
  text-align: center;
  margin: 1em;
  font-size: x-large;
}

.btn-cv {
  border: 0;
  padding: 12px;
  width: fit-content;
  width: -moz-fit-content;
  height: 48px;
  background: #36b37f;
  color: #fff;
  font-size: large;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.properties {
  min-width: 318px;
  height: auto;

  /* Neutrals/N0 */
  background: #fff;
  border-radius: 8px;
  margin: 2px;
  padding-bottom: 15px;

  /* Add flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.properties h3 {
  text-align: center;
  font-size: x-large;
  padding: 0 8px;
  margin: 0;
}

ul.tags-kill {
  padding: 0;
}

.my-placeholder {
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 11px;
  margin-bottom: 5%;
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-cv:hover {
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: #36b37e;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  background: #3ec48c;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  transition: 0.75s;
}

#about-me {
  position: relative;
}

.btn-cv:focus {
  cursor: pointer;
  background: #01a566;
}

.tags-title h3 {
  text-align: center;
  font-size: x-large;
}

.tags-title a {
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: #36b37e;
  padding: 6px;

  /* Theme 2 / Neutral 10 */
  background: #fff;
  border-radius: 4px;
}

.skills-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

ul.tags-skill {
  padding: 0;
}

.tags-skill {
  margin: 2em 0;
}

.tags-skill > li {
  margin-top: 1em;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#section-contact h2 {
  text-align: center;
  font-weight: bold;
  padding: 2em 1em;
}

form {
  margin: 10% 5% 5% 5%;
  width: 100%;
  max-width: 440px;
  float: left;
  margin-right: 1em;
}

form input,
form textarea {
  display: block;
  padding: 1em;
  margin: 2em 1em;
  width: 80%;
  outline: none;
  border: 1px solid #d0d9d4;
  font-family: "inter", sans-serif;
}

form input:focus,
form textarea:focus {
  border: 1px solid #60c095;
}

#form button {
  display: block;
  margin: 0 auto;
}

.button-form {
  border: 0;
  padding: 12px;
  width: fit-content;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  color: fff;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.end-portfolio {
  margin-top: 5em;
  margin-bottom: 1em;
}

#form img {
  position: absolute;
  right: 0;
}

#message-error {
  margin-left: 2em;
  margin-bottom: 1em;
  color: red;
  font-style: italic;
  font-size: medium;
  display: none;
}

.section-contact > .socialContents {
  clear: both;
  padding-top: 5em;
}

.socialContents2 {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 60%;
  padding-left: 22%;
}

.primary,
.social-media-icons {
  padding-top: 3em;
}

div {
  display: block;
}

#section-contact p {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 1em;
  margin-bottom: 3em;
}

#textarea {
  background-image: url(./imges/Icon\ -\ Resizer\ Handle.svg);
  background-repeat: no-repeat;
  background-position: left 325px, 200px 385px, right 280px;
  background-size: 130px;
}

#mobile-menu {
  height: 85vh;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin-bottom: 2em;
  mix-blend-mode: normal;
  box-shadow: 0 1em 1em rgba(37, 47, 137, 0.08);
}

#mobile-menu > ul {
  clear: right;
  padding-left: 0;
}

.menu-link {
  display: block;
  text-decoration: none;
  margin: 1em 1em;
  color: #3a4a42;
  font-size: x-large;
  font-weight: 700;
}

.hidden {
  display: none;
}

@media only screen and (min-width:768px) {
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  header > a,
  header > img {
    display: none;
  }

  header {
    padding: 0;
  }

  #headline {
    background-image: url("./imges/Desktop/Header-llustration.png");
    background-size: 106% 16%;
    padding: 1em 10em;
  }

  .my-placeholder {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 11px;
    margin-bottom: 5%;
    border: solid 1px #d0d9d4;
    background-color: #ebf0ee;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  nav {
    margin-top: -1em;
  }

  .middle {
    grid-template-columns: repeat(3, 1fr);
  }

  nav a {
    text-decoration: none;
    color: #172b4d;
    font-size: large;
    font-weight: 550;
  }

  nav a:focus {
    color: #008552;
  }

  .only-desktop {
    display: block;
  }

  .tittleContents > h2 {
    font-size: 275%;
  }

  .tittleContents > h1 {
    font-size: 275%;
  }

  .primary > h1 {
    font-size: 275%;
  }

  .img1-aboutme > p {
    font-size: 150px;
  }

  .grid {
    width: 95%;
    margin: 2em;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 5px;
  }

  #aboutme {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 11px;
    margin-bottom: 5%;
    border: solid 1px #d0d9d4;
    background-color: #ebf0ee;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
 
  .img1-aboutme {
    background-image: url("./imges/Desktop/about-me-illustration1.png");
    background-size: 100px;
    background-position-y: -15px;
  }
  
  .img1-aboutme + h2 {
    padding: 0;
  }

  .supporting-text > p {
    font-size: 150%;
  }

  #about-me > p {
    text-align: center;
    padding: 0 5em;
    margin: 0;
  }

  .img2-aboutme {
    background-image: url("./imges/Desktop/about-me-illustration2.png");
    background-size: 20%;
  }

  .mobile-only {
    display: none;
  }

  .disabled-btn {
    padding-top: 2em;
    padding-bottom: 7em;
  }

  .section-contact {
    display: block;
    padding-top: 2em;
  }

  .section-contact h2 {
    float: left;
    width: 40%;
    text-align: left;
  }

  form {
    float: left;
    margin-right: 1em;
  }

  form input,
  form textarea {
    width: 100%;
  }

  #form button {
    margin-left: 12px;
  }

  .section-contact > .social-media-icons {
    clear: both;
    padding-top: 5em;
  }

  #section-contact {
    background-image:
      url("./imges/Desktop/contact-form-illustration1.png"),
      url("./imges/Desktop/contact-form-illustration2.png"),
      url("./imges/Desktop/contact-form-illustration1.png");
    background-repeat: no-repeat;
    background-position: left 325px, 200px 385px, right 280px;
    background-size: 130px;
  }

  .project-placeholder:hover {
    transform: scale(1.05);
  }

  .container > li:hover {
    transform: rotate(360deg);
    transition: 1.5s;
  }

  .contact-description:hover {
    transform: translate(1em);
    transition: 1.5s;
  }
}
